@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}



.strip{
    background-color: var(--header-background);
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Rubik", system-ui;
}


.dps-badge{
    position: absolute;
    top: 0;
    left: 6.5em;
    width: 6.5em;
    height: 6.7em;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    padding-top:8px ;
    background-color:#ffffff;
    clip-path: polygon(100% 1%, 100% 46%, 50% 89%, 0 47%, 0 0);
    box-shadow: 0px 0px 6px 0px rgb(10, 121, 10) inset;
    font-family: "Noto Sans", sans-serif;

}

.badge-content .school-name{
    color: #000000;
    font-weight: 600;
    margin-top:4px ;
    font-size: 11px;
}

.badge-content .school-branch{
    color: #0B7C2D;
    font-weight: 600;
    margin-top: -7px;
    font-size: 11px;
}


.badge-school-logo{
    margin-top: -15px;
}

.badge-school-logo img{
    width: 43px;
    height: 100%;
}



.strip-content{
    color: var(--header-text);
    margin-left:-30em ;
}

.strip-content .strip-text{
    padding: 0px 7px;
    border-left: 2px solid #ffffff67;
    font-size: 12px;
}

.strip-social-icon img{
    width: 26px;
    height: 26px;
}




/* Welcome Section Heading  */
.welcome-header{
    background-image: linear-gradient(to bottom left, #E1C214,#F7EFC3);
    padding: 1.7em 0em;
    font-family: "Jost", system-ui;
}


.sections-heading .main-heading{
    font-size: 1.5em;
    color: var(--sections-heading);
    font-weight: bold;
}

.sections-heading .sub-heading{
    font-size: 13px;
    color: var(--sections-subHeading);
    font-weight: 500;
}

/* About section */

/* .about-section-content{
    display: flex;
    overflow: hidden;
} */

.about-section-content .about-text{
    background: url('../images/Group 270223/Group 270223.png');
    /* border: 2px solid black; */
    text-align: center;
    padding: 29px 20px;
    gap: 10px;
    background-size: cover;
}


.about-section-content .about-text h3{
    color: #F8F8F8;
    font-size: 24px;
    font-weight: 400;
    font-family: "Jost", system-ui;
}


.about-text p{
    color:#F8F8F8;
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    font-family: "Rubik", system-ui;
    padding: 0px 45px;
}

.about-text button{
    background: none;
      border: 1px solid white;
      padding: 7px 18px;
      font-size: 13px;
      margin: 0;
      color: var(--header-text);
      text-align: inherit;
      cursor: pointer;
      outline: none;
      appearance: none;
      border-radius: 3px;
      transition: all 0.2s ease;
      font-family: "Jost", system-ui;
      font-style: normal;  
    }

.about-text button:hover{
    background-color: var(--link-hover);
    color: var(--sections-heading);
}

.about-text button i{
    margin-left: 3px;
}


.about-image{
    object-fit: cover;
    overflow: hidden;
}

.about-image img{
    transition: transform 0.2s ease;
}

.about-image:hover img{
    transform: scale(1.06);
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.virtical-designed-line{
    background-color: #f8f8f86c;
    height: 55px;
    width: 2px;
    position: relative;
}

.virtical-designed-line-yellow{
    width: 30%;
    vertical-align: middle;
    height: 40%;
    display: inline-block;
    bottom: 0;
    position: absolute;
    background-color: #ffd900;
}