.strip{
    background-color: var(--header-background);
    height: 5vh;
    position: relative;
    display: flex;
    align-items: center;
}


.dps-badge{
    position: absolute;
    top: 0;
    left: 6.5em;
    width: 8em;
    height: 8em;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    padding-top:8px ;
    background-color:#ffffff;
    clip-path: polygon(100% 1%, 100% 46%, 50% 89%, 0 47%, 0 0);
    box-shadow: 0px 1px 10px 2px var(--header-background) inset;

}

.badge-content .school-name{
    color: #000000;
    font-weight: 600;
    margin-top:4px ;
    font-size: 14px;
}

.badge-content .school-branch{
    color: #0B7C2D;
    font-weight: 600;
    margin-top: -7px;
    font-size: 12px;
}


.badge-school-logo{
    margin-top: -10px;
}

.badge-school-logo img{
    width: 50px;
    height: 58px;
}



.strip-content{
    color: var(--header-text);
    margin-left:-32em ;
    
    
}

.strip-content .strip-text{
    padding: 0px 10px;
    border-left: 2px solid #ffffff67;
    font-weight: 400;
    font-size: 14px;
}

.strip-social-icon img{
    width: 32px;
    height: 100%;
}


/* Welcome Section Heading  */

.welcome-header{
    background-image: linear-gradient(to bottom left, #E1C214,#F7EFC3);
    height: 19vh;
}


/* .welcome-header-content{
    padding: 22px 0px;
} */

.welcome-header-content .sub-heading{
    font-size: 13px;
    color: var(--sections-subHeading);
    font-weight: 600;
}


.welcome-header-content .main-heading{
    font-size: 23px;
    color: var(--sections-heading);
    font-weight: 700;
}


/* About section */

.about-section-content{
    display: flex;
    height: 25em;
    overflow: hidden;
    /* border: 2px solid red; */
}

.about-text{
    background: url('../images/Group 270223/Group 270223.png');
    /* border: 2px solid black; */
    text-align: center;
    padding: 29px 46px;
    position: relative;
    overflow: hidden;
    gap: 10px;

}


.about-text h3{
    color: #F8F8F8;
    font-size: 25px;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}


.about-text p{
    color: #F8F8F8;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.about-text button{
    background: #0B7C2D;
      border: 1px solid white;
      padding: 3px 13px;
      font-size: 14px;
      margin: 0;
      color: var(--header-text);
      text-align: inherit;
      cursor: pointer;
      outline: none;
      appearance: none;
      border-radius: 3px;
      transition: all 0.2s ease;
      font-weight: 500;
}

.about-text button:hover{
    background-color: var(--link-hover);
    color: var(--sections-heading);
}

.about-text button i{
    margin-left: 3px;
}


.about-image{
    object-fit: fill;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.about-image:hover{
    transform: scale(1.03);
}

.about-image img{
    width: 100%;
    height: 100%;
}
