@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}


.community-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:3em;

}

.community-heading .community-sub-heading{
    color: #222222;
    font-family: "Jost", system-ui;
    font-weight: 500;
    font-size: 15px;
}


.community-heading 
.community-main-heading{
    color: #222222;
    font-family: "Jost", system-ui;
    font-weight: 700;
    font-size: 25px;
}


.community-section{
    background: linear-gradient(to bottom Right, #E1C214, #F7EFC3);
    height: 75vh;
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.community-card{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    /* border: 2px solid red; */
    width:19em;
    height: 18em;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease ;
}

.community-card .community-card-upper-half{
    display: flex;
}


.community-card  .community-card-upper-half .upper-half-image{
    width:8.5em;
    height: 7.5em;
    
}

.community-card-upper-half .upper-half-image img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0px 60px;
    transition: all 0.2s ease;
}

.community-card-upper-half .upper-half-texts .upper-half-heading{
    background-color: var(--header-background);
    color: #ffffff;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    position: absolute;
    top: 0;
    right: 0;
    width:120px ;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 0px 60px;
    font-size: 15px;
}


.upper-half-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.upper-half-heading-text-group .upper-half-title{
    color: #0B7C2D;
    font-family: "Rubik", serif;
    font-weight: 600;
    text-decoration: underline;
    font-size: 15px;
}

.upper-half-heading-text-group .upper-half-designation{
    color: #383838;
    font-family: "Rubik", serif;
    font-size: 12px;
    font-weight: 400;
}

.upper-half-heading-texts .upper-half-stars{
    font-size: 13px;
}

.coloured-star{
    color: #E1C214;
}

.grey-star{
    color: #9b9999;
}


.upper-half-heading-texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
}





.community-card .community-card-lower-half .lower-half-para{
    color: #383838;
    font-family: "Jost", serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 1.3;
    padding-top: 8px;
}


.community-card .community-card-lower-half{
    padding: 8px 10px;
}

.community-card-lower-half .lower-half-readmore{
    border: none;
    background: none;
    color: #0B7C2D;
    font-size: 12px;
    font-family: "Jost", serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top:55px ;

}

.community-card-lower-half .lower-half-readmore i{
    opacity: 0;
    transition: all 0.2s ease;
}


.greenstrip-community-card{
    width: 94%;
    height: 5px;
    background-color: #0B7C2D;
    margin: auto;
    transition: all 0.2s ease;
}


/* Hover effect */


.community-card:hover .upper-half-image img {
    transform:scale(1.03)

}


.community-card:hover{
    height: 17.7em;
}


.community-card:hover .lower-half-readmore i{
    opacity: 1
    ;
}

.community-card-container:hover .greenstrip-community-card{
    height: 10px;
}










