@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}

.features{
    background:url("../images/Group 270224/Group 270224@2x.png");
    padding: 2.7em 6em;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.features-card{
    width: 25em;
    height: 14em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.feature-card-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;  
}

.feature-card-background img{
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.features-card:hover .feature-card-background img{
    transform: scale(1.02);
    filter: brightness(60%);
    
}


.features-card:hover{
    background-color: rgba(0, 0, 0, 0.297);
}


.feature-text{
    position: absolute;
    bottom: 0;
    left:0;
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    opacity: 1;
    width: 100%;
    z-index: 9;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8295693277310925) 16%, rgba(0,0,0,0) 100%);
    padding-top: 10px;
}

.features-card:hover .feature-text{
    opacity: 0;
}


.text-hover{
    border: 2px solid #E1C214;
    display: flex;
    width: 23em; 
    /* height: 13em; */
    height: 5em;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    opacity: 0;
    transition: height 2s ease;
    transition: opacity 0.5s ease;
    z-index: 22;
}

.features-card:hover .text-hover{
    height: 13em;
    opacity: 1;
}


.text-hover .text-hover-title{
    color: #E1C214;
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    transition: all 0.2s ease;
}

.features-card:hover .text-hover .text-hover-title{
    opacity: 1;
}

.hover-lines{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-hover .hover-lines .text-hover-longline{
    height: 3px;
    width: 10em;
    background-color: #E1C214; 
    border-radius: 10px;

}

.text-hover .hover-lines .text-hover-shortline{
    height: 3px;
    width: 5em;
    background-color: #E1C214;
    border-radius: 10px;
    margin-top: 7px;
}


.feature-text{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.feature-image img{
    width: 100%;
    height: 100%;    
}










