@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}

.features{
    background:url("../images/Group 270224/Group 270224@2x.png");
    height: 50vh;
    display: flex;
    background-image:(".") ;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0px 73px;
}


.features-card{
    background-image: url("../images/museums-victoria-n1LIveUPls4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25em;
    height: 14em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features-card::before{
    content:"";
    bottom: -100%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0000ff85, #00000069);
    opacity: 0.6;
    z-index: 2;
    filter: brightness(100%);
    transition: all 0.2s ease;
}


.features-card:hover .features-card::before{
    bottom: 100%;
}




.feature-text{
    position: absolute;
    bottom: 0;
    left:0;
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    opacity: 1;
    width: 100%;
    z-index: 9;
    background:linear-gradient(to top, #0000ff46, #0000000b);
    padding-top: 10px;
}

.features-card:hover .feature-text{
    opacity: 0;
}






.text-hover{
    border: 2px solid #E1C214;
    display: flex;
    width: 24em; 
    /* height: 13em; */
    height: 5em;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    opacity: 0;
    transition: height 0.2s ease;
    transition: opacity 0.07s ease;
}

.features-card:hover .text-hover{
    height: 13em;
    opacity: 1;
}


.text-hover .text-hover-title{
    color: #E1C214;
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}

.features-card:hover .text-hover .text-hover-title{
    opacity: 1;
}

.hover-lines{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-hover .hover-lines .text-hover-longline{
    height: 3px;
    width: 10em;
    background-color: #E1C214; 
    border-radius: 10px;

}

.text-hover .hover-lines .text-hover-shortline{
    height: 3px;
    width: 5em;
    background-color: #E1C214;
    border-radius: 10px;
    margin-top: 7px;
}


.feature-text{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.feature-image img{
    width: 100%;
    height: 100%;    
}










