@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}

.main-header{
    background-color: var(--header-background);
    height: 5.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #ece5e5fb;
}

.main-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}

/* Left-Section */

.left-section{
    display: inline-block;
    margin-left: 6em;
}

.left-section img{
    width: 21em;
    height: 4.4em;
}



/* Right-Section */

.right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-right: 6em;
}

/* Left-Half of Right Section */
.left-half{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4px;
    position: relative;
    font-family: "Jost", system-ui;
    font-style: normal;
}


/* Group 1 */
.group1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.group1 .three60btn{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 0px 6px;
    border-radius:2px ;
    align-items: center;
    gap: 4px;
    transition: all 0.2s ease ;
    cursor: pointer;
}

.group1 .three60btn:hover{
    background-color: var(--link-hover);
}

.group1 .three60btn .three60-icon{
    filter: invert(100%);

}

.group1 .three60btn .three60-icon img{
    width: 22px;
    height: 25px;

}

.group1 .three60btn .three60-text{
    font-size: 12px;
    font-weight: 600;
}


.socialmedia-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.socialmedia-icons a{
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 10px;
}

.socialmedia-icons a i{
    font-size: 12px;
}

.facebook-icon{
    background-color: rgb(70, 70, 233);
}
.facebook-icon:hover{
    background-color: var(--header-background);
}

.instagram-icon{
    background: linear-gradient(to Right, red, orange);
}
.instagram-icon:hover{
    background: var(--header-background);
}

.youtube-icon{
    background-color: red;
}
.youtube-icon:hover{
    background: var(--header-background);
}

.twitter-icon{
    background-color: rgb(0, 0, 0);
}
.twitter-icon:hover{
    background: var(--header-background);
}

/* Group 2 */

.group2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 2px;
    font-weight: 300;
}


.group2 .group2-element{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header-text);
    gap: 5px;
}

.group2 .group2-icon{
    background-color: white;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group2 .group2-icon img{
    width: 11px;
    height: 11px;
}

.group2 .group2-icon:hover{
    background-color: #E1C214;
}

.group2-element .group2-text{
    font-size: 12px;
    font-weight: 400;
}


    .group3{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--header-text);
        gap: 12px;
        font-weight: 300;
    }

    .group3 a{
        text-decoration: none;
        color: var(--header-text);
    }

    .group3-text{
        font-size: 12px;
        font-weight: 400;
    }

    .dividing-line{
        width: 2px;
        height: 15px;
        background-color: #ffffff4d;
    }



    .right-half{
        display: flex;
         flex-direction: column;
          gap: 6px;
         position: relative;
         gap: 4px;
         font-family: "Rubik", system-ui;
         font-style: normal;
    }

    .header-btn{
        background:transparent linear-gradient(230deg, #007fd0 0%, #002348 100%);
        position: relative;
        border-radius: 0 25px 25px 0;
        transition: 0.3s;
        display: flex;
        align-items: center;
        border: 2px solid rgba(255, 255, 255, 0.692);
        text-decoration: none;
        color: var(--header-text);
        width: 155px;
    height: 38px;
margin-left: 12px;
      }


      .btn-icon{
        box-shadow: inset 10px 11px 12px #00000029, 0px 3px 10px #00000021;
        border: 1px solid #ffffff;
        padding: 3px;
        border-radius: 50%;
        top: 50%;
        left: 0;
        margin-left: -17px;
        /* line-height: 1; */
        transform: translate(0, -50%);
        position: absolute;
        display: flex;
        background: transparent linear-gradient(179deg, #007fd0 0%, #002348 100%);
        
      }


      .btn-text{
        padding: 0px 3px 0px 6px;
      }


      sup{
        font-size: 5px;
      }


      .btn-text{
        font-size: 11px;
        margin-left: 12px;
      }

      .btn-text i{
        font-size: 17px;
      }

      .btn-icon img{
        width: 23px ;
        height:23px ;
      }


      .lower-btn{
        background-color: #047FC3;
        position: relative;
        color: var(--header-text);
        border-radius: 25px 25px 25px 25px;
        padding: 8px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        text-decoration: none;
        width: 169px;
    height: 38px;
      }


      .lowerbtn-icon img{
        width: 23px;
        height: 23px;
      }

      .dropdown-toggle::after{
        content: none;
      }


      .lowerbtn-text{
        padding: 0px 3px 0px 6px;
        font-size: 12px;
      }



      .half-dividing-line{
        width: 1px;
        height: 67px;
        background-color: #ffffff4f
      }

/* Main Header Ends Here */


/* Lower Header Starts Here */

.lower-header{
    background-color: var(--header-background);
    display: flex;
    justify-content: center;
}

.lower-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0px;
    overflow: hidden;
    gap: 2px;
    font-family: "Rubik", system-ui;
}

.lower-container span a{
    text-decoration: none;
    color: var(--header-text);
    font-size: 12px;
    padding: 24px 6px;
    transition: all 0.2s ease;
    font-weight: 400;
}

.lower-container .dividing-line{
    margin-left: 5px;
    margin-right:5px ;
    height: 17px;
}


.lower-container .lower-header-text a:hover{
    background-color: var(--link-hover);
}

.lower-header-text .dropdown-toggle::after{
    content: none;
}


.sub-academics-links{
    list-style: none;
    padding: 0px;
}



.lower-header-text .dropdown-menu .dropdown-item{
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    background-color: #0B7C2D;
}

.minus-margin-for-arrow{
    margin-left: -5px;
}

/* Updates Section */

.news-section{
    background-color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.news-section-content{
    /* padding: 23px 0px; */
    display: flex;
    width: 72em;
    align-items: center;
    /* border: 2px solid black; */
    height: 100%;
    overflow: hidden;
    position: relative;
}


.news-section-content .news-ending{
    padding: 0px 20px;
    background-color: #231834;
    color: var(--header-text);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    z-index: 999;
    position: absolute;
    left: 0px;
    height: 100%;
}

.news-ending .news-text{
    font-size: 17px;
    font-family: "Rubik", system-ui;
}

.news-ending .news-icon img{
    width:26px ;
    height: 26px;
}


.news-running{
    position: absolute;
    /* border: 2px solid red; */
    display: inline-block;
    animation:  scroll-left 15s linear infinite;
    width: 80%;
}

.news-running:hover{
    animation-play-state:paused ;
}
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
  }

.running-news-content a{
    text-decoration: none;
    color: var(--sections-heading);
    font-size: 14px;
    font-family: "Rubik", system-ui;
    font-weight: 500;
}

.running-news-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}


.running-news-content a .news-text{
    font-size: 15px;
    font-weight: 500;
}

.right-arrow img{
    width: 10px;
    height: 15px;
}