@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}


.school-herosection{
    /* width: 100%;
    height: 80vh; */
    /* overflow: hidden; */
    position: relative;
    overflow: hidden;
}

.carousel{
    height: 80vh;
    z-index: -11;
}

.squarebox{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10em;
    height: 9em;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    padding-top:8px ;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.175);
    backdrop-filter: blur(5px);
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.squarebox .school-logo img{
    width: 3.4em;
    height: 3.6em;
}

.box-text-content .school-name{
    color: var(--header-text);
    font-size: 15px;
}


.school-branch{
    color: var(--link-hover);
    font-size: 13px;
    margin-top: -11px;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    gap: 7px;
}

.social-icon img{
    width: 24px;
    height: 24px;
}