@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}



.news-circular{
    background: url("../images/Group 270223/Group 270223.png");
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-card-header{
    height: 2.5em;
    display: flex;
    align-items: center;
    color: #231834;
    gap: 7px;
    font-size: 18px;
    font-weight: 800;
    padding: 0px 16px ;
    background-color: #E1C214;
}

.news-card-header img{
    filter: invert(100%);
}


.news-card{
    height: 285px;
    width: 590px;
}


.news-card-only{
    cursor: pointer;
}

.news-circular-cards{
    display: flex;
    margin-bottom: 54px;
    justify-content: center;
    gap: 2em;
    align-items: center;
    width: 100%;
}

.news-card-body-image img{
    width: 100%;
    height: 280px;
}

.news-card-view-all a{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
}

.news-card-view-all a:hover{
    text-decoration: underline;
}


.circular-body{
height: 285px;
padding: 0px 14px;
background-color: #ffffff;
}

.circular-contents{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    height: 260px; 
}

.circular-content-item{
    border: 1px solid grey;
    box-shadow: 1px 1px 5px 2px grey;
    border-radius: 15px ;
    margin: 7px 28px;
    padding: 5px 10px;
    cursor: pointer;
}

.circular-content-item .content-title{
    color: #0B7C2D;
    font-size: 15px;
    font-weight: 500;
}

.circular-content-item .content-description{
    font-size: 12px;
}


.circular-contents::-webkit-scrollbar{
    width: 10px;
}

.circular-contents::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 10px;
  }

  .ircular-contents::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
  }