@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}




.ode-section{
    height: 80vh;
    background:linear-gradient(to left,#E1C214,#F7EFC3);
    padding: 0px 66px;
}

.cards-container{
display: flex;
padding: 0px 12px;
}

.ode-section-heading{
    padding-top: 50px;
}


.ode-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ode-card-image{
    position: relative;
    border: 10px solid white;
    width: 40%;
    height: 21em;
    overflow: hidden;
}

.ode-image{
    width: 100%;
    height: 100%;
}

.ode-image img{
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.ode-maam img{
    object-fit: contain;
}


.ode-image-text{
    position: absolute;
    left: 12px;
    bottom: 0px;
    font-family: "Jost", system-ui;
    font-style: normal;
    border: 2px solid white;
    width: 13em;
    height: 5em;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 0px;
    clip-path: circle(50% at 50% 100%);
    transition: all 0.2s ease;
}

.ode-image-text .ode-image-title{
    color: #0B7C2D;
    font-size: 12px;
    font-weight: 700;
    margin-top: 21px;
}

.ode-image-text .ode-image-designation{
font-size: 10px;
color: #383838;
font-weight: 600;
}

.ode-card:hover .ode-image-text{
    left: -30px;
}

.ode-card:hover .ode-image img{
    scale: 1.05;
}


/* -------------------------------------------------------------------------- */
.ode-card-text{
    border: 2px solid rgba(0, 0, 0, 0.082);
    background-color: white;
    width: 54%;
    height: 92%;
    font-family: "Jost", system-ui;
    font-style: normal;
    padding: 16px 9px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}



.ode-card-text-title{
    color: #0B7C2D;
    font-weight: bold;
    font-size: 20px;
}

.ode-card-text-para1{
    font-size: 11px;
    font-weight: 500;
}

.ode-card-text-para2{
    font-size: 11px;
    font-weight: 500;
}

.ode-card-text-button{
    border: none;
    background-color: #0B7C2D;
    color: #ffffff;
    padding: 7px 17px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius:4px ;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.ode-card-text-button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    font-family: "Jost", system-ui;
    font-weight: 400;
    transition:  0.2s ease-in-out;
}

.ode-card-text-button i{
    font-size: 12px;
    color: #ffffff;
    transition:  0.2s ease-in-out;
}


.ode-card-text-button:hover{
    background-color: #E1C214;
}

.ode-card-text-button:hover a{
    color: black;
}

.ode-card-text-button:hover i{
    color: black;
}