@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --header-text:#ffffff;
    --header-background:#0B7C2D;
    --link-hover:#E1C214;
    --sections-subHeading:#383838;
    --sections-heading:#231834;
    --about-section-text:#F8F8F8;
}








/* Header Section Ends Here */

/* -------------------------------------------------------------------------------------------------- */


/* Schools Hero Sections Starts here */




/* Hero Section Ends here */

/* ------------------------------------------------------------------------------------------------------------ */

/* About Section Starts Here */








/* ODE Section */




/* Feautres Section */





/* Achievements Section */








  /* Infrastructure Section */








